[submodule "arch/i3/home/.config/i3blocks/i3blocks-contrib"]
	path = arch/i3/home/.config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule "arch/i3/home/.config/i3/autoname-workspace"]
	path = arch/i3/home/.config/i3/autoname-workspace
	url = https://gist.github.com/justbuchanan/70fdae0d5182f6039aa8383c06a3f4ad
[submodule "arch/i3/home/.config/i3/i3-new-workspace"]
	path = arch/i3/home/.config/i3/i3-new-workspace
	url = https://github.com/justbuchanan/i3-new-workspace
[submodule "common/vim/Vundle.vim"]
	path = common/vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
