# Borrowed from the Arch wiki
# https://wiki.archlinux.org/index.php/XScreenSaver

[Unit]
Description=Lock X session using xscreensaver
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xuserrun /usr/bin/xscreensaver-command -lock

[Install]
WantedBy=sleep.target
