[user]
	email = justbuchanan@gmail.com
	name = Justin Buchanan
[push]
	default = simple

# I don't need the beginner warnings anymore
[advice]
    statusHints = false
    detachedHead = false

[alias]
    edit-unmerged = "!$EDITOR `git diff --name-only --diff-filter=U`"
    rhead= "reset HEAD~1"

