name: Test NixOS Configuration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Nix flake check
        run: |
          nix flake check --all-systems

      - name: Build home-manager configuration for srvbox
        run: |
          nix build .#homeConfigurations."justin@srvbox".activationPackage

      # disabled because this takes too long
      # - name: Build NixOS configuration for framework
      #   run: |
      #     nix build .#nixosConfigurations.framework.config.system.build.toplevel
